.editor-lang-json {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  padding: 0px 14px;
  background: #083f2e;
  color: white;
  font-size: 90%;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 10;
}

.editor-lang-yaml {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  padding: 0px 14px;
  background: #043859;
  color: white;
  font-size: 90%;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 10;
}

.editor-lang-csharp {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  padding: 0px 14px;
  background: #d73a16;
  color: white;
  font-size: 90%;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 10;
}

.monaco-editor {
  position: absolute !important;
}

html[data-bs-theme="light"] .editor-lang-json {
  background: #0a7050;
  color: white;
}

html[data-bs-theme="light"] .editor-lang-yaml {
  background: #065a8a;
  color: white;
}

html[data-bs-theme="light"] .editor-lang-csharp {
  background: #e84a26;
  color: white;
}
