@using JsonEverythingNet.Services
@inject DataManager DataManager

@if (!_isDismissed)
{
	<div class="banner-container @Style">
		<div class="announcement-border text-center px-3 py-1 div-hcenter">
			<div>
				<strong>@Title</strong>
				@((MarkupString)Content)
			</div>
			<a href="javascript:void(0)" class="banner-dismiss" @onclick="DismissBanner">Dismiss</a>
		</div>
	</div>
}

@code {
#pragma warning disable CS8618
	[Parameter]
	public string Title { get; set; }
	[Parameter]
	public string Content { get; set; }
	[Parameter]
	public string Style { get; set; } = string.Empty;
#pragma warning restore CS8618

	private bool _isDismissed;
	private string DismissedKey => $"bannerDismissed_{ComputeStableHash(Title)}";

	private static string ComputeStableHash(string input)
	{
		unchecked
		{
			int hash = 23;
			foreach (char c in input)
			{
				hash = hash * 31 + c;
			}
			return Math.Abs(hash).ToString();
		}
	}

	public const string AnnouncementTitle = "Announcement!";

	public const string MaintenanceFeeContent =
		"""
		To ensure the long-term sustainability of the project,
		<code>json-everything</code> will soon be adopting the
		<a href="">Open Source Maintenance Fee</a>.
		For more information on this decision and whether the fee
		applies to your use of the libraries, please read the
		<a href="https://blog.json-everything.net/posts/expensive/">announcement blog post.</a>
		""";

	protected override async Task OnInitializedAsync()
	{
		var dismissed = await DataManager.Get(DismissedKey);
		_isDismissed = dismissed == "true";
	}

	private async Task DismissBanner()
	{
		await DataManager.Set(DismissedKey, "true");
		_isDismissed = true;
	}
}
