@using Markdig

@inject HttpClient Http

<div>
	@((MarkupString)_value)
</div>

@code{
	[Parameter]
	public string? Page { get; set; }

	private string _value = "";
	private static readonly string _baseAddress;

	static Docs()
	{
		var env = Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT");
		_baseAddress = string.Equals(env, "Development", StringComparison.InvariantCultureIgnoreCase)
			? string.Empty
			: "/json-everything";
	}

	protected override async Task OnInitializedAsync()
	{
		var markdown = await Http.GetStringAsync($"{_baseAddress}/md/{Page}.md");
		_value = Markdown.ToHtml(markdown);
	}
}