@using JsonEverythingNet.Services

<div class="mx-3 navbar">
	<div class="container-fluid">
		<div class="align-items-center">
			<a class="navbar-brand font-monospace" href="">json-everything</a>
		</div>
		<div class="px-1">
			<a href="@Redirects.Slack" class="m-2 no-underline" data-toggle="tooltip" data-placement="bottom" title="Discuss in Slack" target="_blank">
				<img src="img/slack.png" alt="Discuss in Slack"/>
			</a>
			<a href="@Redirects.Github" class="m-2 no-underline" data-toggle="tooltip" data-placement="bottom" title="View on GitHub" target="_blank">
				<img src="img/github.png" alt="View on GitHub"/>
			</a>
		</div>
	</div>
</div>
