@inherits LayoutComponentBase

<div class="page">
	<main>
		<header class="brand-colors ">
			<Header/>
			<NavMenu/>
		</header>
		
		<div class="alert-warning mt-4 mx-auto w-50 text-center border border-warning border-2 rounded-3 py-1" role="alert">
			You may have noticed a few changes around here.  I appreciate your patience while
			I bring over all of the features and reference material.  Questions and suggestions are welcome
			through Slack and Github (links up there ↗).
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
