@using JsonEverythingNet.Services

@inherits LayoutComponentBase

@inject CookieManager _cookieManager;

<div class="page">
	<main>
		<header class="brand-colors ">
			<Header/>
			<NavMenu/>
		</header>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

@code
{
	protected override async Task OnInitializedAsync()
	{
		await _cookieManager.Initialize();
	}
}
