<nav class="mx-3 navbar">
	<div class="container-fluid width-auto">
		<div class="row justify-content-center">
			<div class="col px-3">
				<NavLink class="nav-link text-center" href="json-schema">
					<div class="brand-colors">
						<div>JSON Schema</div>
						<div class="feature-description">Constraints-based validation of JSON data</div>
					</div>
				</NavLink>
			</div>
			<div class="col px-3">
				<NavLink class="nav-link text-center" href="json-path">
					<div class="brand-colors">
						<div>JSON Path</div>
						<div class="feature-description">Query JSON data - "XPath for JSON"</div>
					</div>
				</NavLink>
			</div>
			<div class="col px-3">
				<NavLink class="nav-link text-center" href="json-patch">
					<div class="brand-colors">
						<div>JSON Patch</div>
						<div class="feature-description">Describe and process alterations to JSON documents</div>
					</div>
				</NavLink>
			</div>
			<div class="col px-3">
				<NavLink class="nav-link text-center" href="json-logic">
					<div class="brand-colors">
						<div>JSON Logic</div>
						<div class="feature-description">Complex rule definition and evaluation using JSON</div>
					</div>
				</NavLink>
			</div>
			<div class="col px-3">
				<NavLink class="nav-link text-center" href="json-pointer">
					<div class="brand-colors">
						<div>JSON Pointer</div>
						<div class="feature-description">Identify specific locations within JSON data</div>
					</div>
				</NavLink>
			</div>
		</div>
	</div>
</nav>
