<nav class="mx-3 navbar">
	<div class="container-fluid width-auto">
		<div class="row justify-content-center">
            <NavLink class="col mx-3 nav-link text-center text-white highlight" href="json-schema">
                <div>
                    <div>JSON Schema</div>
                    <div class="feature-description">Constraints-based validation of JSON data</div>
                </div>
            </NavLink>
			<NavLink class="col mx-3 nav-link text-center text-white highlight" href="json-path">
				<div>
					<div>JSON Path</div>
					<div class="feature-description">Query JSON data - "XPath for JSON"</div>
				</div>
			</NavLink>
			<NavLink class="col mx-3 nav-link text-center text-white highlight" href="json-patch">
				<div>
					<div>JSON Patch</div>
					<div class="feature-description">Describe and process alterations to JSON documents</div>
				</div>
			</NavLink>
			<NavLink class="col mx-3 nav-link text-center text-white highlight" href="json-logic">
				<div>
					<div>JSON Logic</div>
					<div class="feature-description">Complex rule definition and evaluation using JSON</div>
				</div>
			</NavLink>
			<NavLink class="col mx-3 nav-link text-center text-white highlight" href="json-pointer">
				<div>
					<div>JSON Pointer</div>
					<div class="feature-description">Identify specific locations within JSON data</div>
				</div>
			</NavLink>
		</div>
	</div>
</nav>
