[submodule "ref-repos/JSON-Schema-Test-Suite"]
	path = ref-repos/JSON-Schema-Test-Suite
	url = https://github.com/json-schema-org/JSON-Schema-Test-Suite.git
[submodule "ref-repos/json-path-comparison"]
	path = ref-repos/json-path-comparison
	url = https://github.com/cburgmer/json-path-comparison.git
[submodule "ref-repos/jsonpath-reference-implementation"]
	path = ref-repos/jsonpath-reference-implementation
	url = https://github.com/jsonpath-standard/jsonpath-reference-implementation.git
