[submodule "ref-repos/JSON-Schema-Test-Suite"]
	path = ref-repos/JSON-Schema-Test-Suite
	url = https://github.com/json-schema-org/JSON-Schema-Test-Suite.git
[submodule "ref-repos/json-path-comparison"]
	path = ref-repos/json-path-comparison
	url = https://github.com/cburgmer/json-path-comparison.git
[submodule "ref-repos/json-patch-tests"]
	path = ref-repos/json-patch-tests
	url = https://github.com/json-patch/json-patch-tests.git
[submodule "ref-repos/jsonpath-compliance-test-suite"]
	path = ref-repos/jsonpath-compliance-test-suite
	url = https://github.com/jsonpath-standard/jsonpath-compliance-test-suite.git
[submodule "ref-repos/json-schema-vocab-test-suites"]
	path = ref-repos/json-schema-vocab-test-suites
	url = https://github.com/gregsdennis/json-schema-vocab-test-suites.git
[submodule "ref-repos/json-e"]
	path = ref-repos/json-e
	url = https://github.com/json-e/json-e.git
