@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">JSON Logic</h1>
	<p>
		Complex rule definition and evaluation using JSON
		<br />
		Learn more about
		<a href="https://jsonlogic.com/" target="_blank">JSON Patch <partial name="_ExternalLink" /></a>
	</p>
	<div class="container">
		<div class="row">
			<div class="col-6 pr-4">
				<h4 class="text-left">Logic:</h4>
			</div>
			<div class="col-6 pl-3">
				<h4 class="text-left">Data:</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-6 editor-container">
				<div class="editor-container pl-4">
					<div id="editor-logic" class="json-editor"></div>
				</div>
			</div>
			<div class="col-6 editor-container">
				<div class="editor-container pr-4">
					<div id="editor-data" class="json-editor"></div>
				</div>
			</div>
		</div>
		<div>
			<button type="submit" onclick="apply()" class="btn btn-primary m-4">Apply</button>
		</div>
		<div id="error-output">

		</div>
		<div class="editor-container">
			<div class="editor-container-small">
				<div id="editor-output" class="json-editor"></div>
			</div>
		</div>
	</div>
</div>

@section Scripts{
	<script src="~/lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
	<script src="~/lib/js-cookie/dist/js.cookie.js" type="text/javascript" charset="utf-8"></script>
	<script src="~/js/logic.js" type="text/javascript" charset="utf-8"></script>
}
