@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">JSON Logic</h1>
	<p>Complex rule definition and evaluation using JSON</p>
	<a href="https://jsonlogic.com/" target="_blank">Learn more <partial name="_ExternalLink" /></a>
	<div class="container">

	</div>
</div>
