@{
	ViewData["Title"] = "JSON Patch";
}

<div class="text-center">
	<h1 class="display-4">JSON Patch</h1>
	<p>
		Describe and process alterations to JSON documents
		<br />
		Learn more about
		<a href="http://jsonpatch.com/" target="_blank">JSON Patch <partial name="_ExternalLink" /></a>
	</p>
	<p class="btn version-callout">
		<code>@Model.Name</code> @@ v@(Model.Version)
	</p>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<h4 class="text-left">Data:</h4>
				<div id="editor-data" class="height-500"></div>
			</div>
			<div class="col-lg-6 col-md-12">
				<h4 class="text-left">Patch or Target Data:</h4>
				<div id="editor-patch" class="height-500"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-2 offset-4">
				<button type="submit" onclick="apply()" class="btn btn-primary m-4" style="width: 100px;">Apply</button>
			</div>
			<div class="col-2">
				<button type="submit" onclick="generate()" class="btn btn-primary m-4" style="width: 100px;">Generate</button>
			</div>
		</div>
		<div id="error-output">

		</div>
		<div class="col-12">
			<div id="editor-output" class="height-500"></div>
		</div>
	</div>
</div>

@section Scripts{
	<script src="~/lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
	<script src="~/js/patch.js" type="text/javascript" charset="utf-8"></script>
}
