@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">JSON Patch</h1>
	<p>Describe and process alterations to JSON documents</p>
	<a href="http://jsonpatch.com/">Learn more</a>
	<div class="container">

	</div>
</div>
