@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">JSON Patch</h1>
	<p>Describe and process alterations to JSON documents</p>
	<a href="http://jsonpatch.com/" target="_blank">Learn more <partial name="_ExternalLink" /></a>
	<div class="container">

	</div>
</div>
