@{
	ViewData["Title"] = "JSON Path";
}

<div class="text-center">
	<h1 class="display-4">JSON Path</h1>
	<p>Query JSON data - "XPath for JSON"</p>
	<a href="https://github.com/ietf-wg-jsonpath/draft-ietf-jsonpath-base" target="_blank">Learn more <partial name="_ExternalLink" /></a>
	<h4 class="text-left">Path:</h4>
	<input id="editor-path" type="text" class="col-12 form-control text-monospace"/>
	<h4 class="text-left mt-3">Data:</h4>
	<div class="editor-container">
		<div class="editor-container">
			<div id="editor-data" class="json-editor"></div>
		</div>
	</div>
	<div>
		<button type="submit" onclick="query()" class="btn btn-primary m-4">Validate</button>
	</div>
	<div id="output">

	</div>
</div>

@section Scripts{
	<script src="~/lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
	<script src="~/js/path.js" type="text/javascript" charset="utf-8"></script>
}

