@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">JSON Pointer</h1>
	<p>
		Identify specific locations within JSON data
		<br />
		Learn more about
		<a href="https://datatracker.ietf.org/doc/html/rfc6901" target="_blank">JSON Pointer <partial name="_ExternalLink" /></a>
	</p>
	<p class="btn version-callout">
		<code>@Model.Name</code> @@ v@(Model.Version)
	</p>
	<div class="container">
		<h4 class="text-left">Path:</h4>
		<input id="editor-pointer" type="text" class="col-12 form-control text-monospace" />
		<h4 class="text-left mt-3">Data:</h4>
		<div class="col-12">
			<div id="editor-data" class="height-500"></div>
		</div>
		<div>
			<button type="submit" onclick="query()" class="btn btn-primary m-4">Query</button>
		</div>
		<div id="error-output">

		</div>
		<div class="col-12">
			<div id="editor-output" class="height-500"></div>
		</div>
	</div>
</div>

@section Scripts{
	<script src="~/lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
	<script src="~/js/pointer.js" type="text/javascript" charset="utf-8"></script>
}
