@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">JSON Pointer</h1>
	<p>Identify specific locations within JSON data</p>
	<a href="https://jsonlogic.com/" target="_blank">Learn more <partial name="_ExternalLink" /></a>
	<div class="container">

	</div>
</div>
