@{
	ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
	This website stores the data you enter on the input fields of each page
	in local storage, which is on your computer.
</p>
<p>
	All processing is performed server-side completely in memory.  No data
	is stored outside of the browser, ever.
</p>
<p>
	If you wish, or have need, to verify this, the source code for this
	website and the JSON libraries is available at
	https://github.com/gregsdennis/json-everything for your review.
</p>
