@model LibraryVersionCollectionModel

@{
	ViewData["Title"] = "JSON Schema";
}

<div class="text-center">
	<h1 class="display-4">JSON Schema</h1>
	<p>
		Constraints-based validation of JSON data
		<br />
		Learn more about
		<a href="https://json-schema.org" target="_blank">JSON Schema <partial name="_ExternalLink" /></a>
	</p>
	<div class="container">
		<div class="row justify-content-center">
		@foreach (var library in Model)
		{
			<p class="btn version-callout">
				<code>@library.Name</code><br/>@@ v@(library.Version)
			</p>
		}
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<h4 class="text-left">Schema:</h4>
				<div id="editor-schema" class="height-500"></div>
			</div>
			<div class="col-lg-6 col-md-12">
				<h4 class="text-left">Instance:</h4>
				<div id="editor-instance" class="height-500"></div>
			</div>
		</div>
	</div>
	<div>
        <button type="submit" onclick="validate()" class="btn btn-primary m-4">Validate</button>
        <button type="submit" onclick="generateData()" class="btn btn-primary m-4">Generate Data</button>
	</div>
	<div id="output">

	</div>
	<div class="col-12">
		<div id="editor-output" class="height-500 collapse"></div>
	</div>
</div>

@section Scripts
{
	<script src="~/lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
	<script src="~/js/schema.js" type="text/javascript" charset="utf-8"></script>
}

@section OptionsBar
{
	<div class="card">
		<button class="card-header btn btn-primary options-btn" type="button" data-toggle="collapse" data-target="#options-content" aria-expanded="false" aria-controls="options-content">
			Options
		</button>
		<div id="options-content" class="collapse card-body">
			<div class="form-group">
				<label class="form-check-label" for="output-format">Output format</label>
				<select class="form-control" id="output-format">
					<option>Human-readable</option>
					<option>Flag (pass/fail)</option>
					<option>Basic (list)</option>
					<option>Detailed (condensed)</option>
					<option>Verbose (full)</option>
				</select>
			</div>
			<div class="form-group">
				<label class="form-check-label" for="validate-as">Validate as (unless specified)</label>
				<select class="form-control" id="validate-as">
					<option>Draft 2020-12</option>
					<option>Draft 2019-09</option>
					<option>Draft 7</option>
					<option>Draft 6</option>
				</select>
			</div>
			<div class="form-group">
				<label for="base-uri">Default base URI</label>
				<input type="email" class="form-control" id="base-uri" placeholder="https://json-everything.net">
			</div>
			<div class="form-group">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="require-format">
					<label class="form-check-label" for="require-format">Require Format Validation</label>
				</div>
			</div>
		</div>
	</div>
}
