@{
    ViewData["Title"] = "JSON Schema";
}

<div class="text-center">
	<h1 class="display-4">JSON Schema</h1>
	<p>
		Constraints-based validation of JSON data
		<br/>
		<a href="https://json-schema.org" target="_blank">Learn more <partial name="_ExternalLink"/></a>
	</p>
	<div class="container">
		<div class="row">
			<div class="col-6 pr-4">
				<h4 class="text-left">Schema:</h4>
			</div>
			<div class="col-6 pl-3">
				<h4 class="text-left">Instance:</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-6 editor-container">
				<div class="editor-container pl-4">
					<div id="editor-schema" class="json-editor"></div>
				</div>
			</div>
			<div class="col-6 editor-container">
				<div class="editor-container pr-4">
					<div id="editor-instance" class="json-editor"></div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<button type="submit" onclick="validate()" class="btn btn-primary m-4">Validate</button>
	</div>
	<div id="output">

	</div>
</div>

@section Scripts{
	<script src="~/lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
	<script src="~/lib/js-cookie/dist/js.cookie.js" type="text/javascript" charset="utf-8"></script>
	<script src="~/js/schema.js" type="text/javascript" charset="utf-8"></script>
}

