@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">JSON Schema</h1>
	<p>Constraints-based validation of JSON data</p>
	<a href="https://json-schema.org">Learn more</a>
	<div class="container">

	</div>
</div>
