@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Aw, sad.</h1>
<h2 class="text-danger">Obviously you shouldn't be here.</h2>

<p>
    Something expected happened, and we couldn't process your request.
</p>
