/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.btn-primary {
  color: #fff;
  background-color: #5B009F;
  border-color: #5B009F;
}

.btn-primary:hover {
  color: #fff;
  background-color: #6800B7;
  border-color: #6800B7;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(91, 0, 159, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #6800B7;
  border-color: #6800B7;
  opacity: 0.5;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #6800B7;
  border-color: #6800B7;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.options-bar {
  bottom: 80px;
  right: 20px;
  z-index: 10;
  height: auto;
  margin-bottom: auto;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

code {
  font-size: 87.5%;
  color: #444444;
  word-break: break-word;
}

.footer {
  position: absolute;

  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.card {
  height: 100%;
  margin-bottom: 1rem;
}


.text-muted-light {
  color: #CCBCD9 !important;
}

.brand-colors {
  color: #fff;
  background-color: #6800B7;
  border-color: #6800B7;
}

.height-200 {
  height: 200px;
}

.height-500 {
  min-height: 500px;
}

.img-text-icon {
  max-width: 100%;
  height: 1rem;
}

.result-error {
  color: red;
}

.result-valid {
  color: green;
}

.no-underline {
  text-decoration: none;
}

.options-btn {
  padding: 0.375rem 0.75rem !important;
  border-radius: 0.25rem !important;
}

.version-callout {
  border-width: 1px;
  border-radius: 3px;
  border-color: #6800B7;
  border-style: solid;
  background: none !important;
  padding: 2px 8px !important;
  margin: 0 5px 16px 5px;
}