@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html,
body,
#app,
#page {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	height: 100vh;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	background: rgb(27, 27, 30);
	color: rgb(216, 216, 216);
}

main {
	display: flex;
	flex-direction: column;
}

header {
	flex-grow: 0;
	text-shadow: 1px 1px #1d1f27;
}

article {
	overflow: hidden;
	flex-grow: 1;
	position: relative;
}

.fill-remaining {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.col-8-stretch {
	flex: 1 0 66.66667%;
}

.scroll {
	overflow-y: auto;
}

.mw-content {
	min-width: fit-content;
}

h1:focus {
	outline: none;
}

a,
.btn-link {
	color: #0071c1;
}

.content {
	padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
	outline: 1px solid #26b050;
}

.invalid {
	outline: 1px solid red;
}

.validation-message {
	color: red;
}

.brand-colors {
	color: #fff;
	background: radial-gradient(circle, #6800B7 0%, #1d1f27 100%)
}

.div-hcenter {
	display: inline-block;
}

.banner-container {
	margin-top: 1.5rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 50%;
	text-align: center !important;
}

.announcement-border {
	background-color: #500a88;
	border-color: #6800B7;
	border-width: 1px;
	border-radius: 3px;
	border-style: solid;
}

#blazor-error-ui {
	background-color: #1e1e1e;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
	display: none;
	left: 0;
	padding: 0.6rem 1.25rem 0.7rem 1.25rem;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

	#blazor-error-ui .dismiss {
		cursor: pointer;
		position: absolute;
		right: 0.75rem;
		top: 0.5rem;
	}

.blazor-error-boundary {
	background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
	color: #1e1e1e;
	padding: 1rem 1rem 1rem 3.7rem;
}

	.blazor-error-boundary::after {
		content: "An error has occurred."
	}

a.navbar-brand {
	white-space: normal;
	word-break: break-all;
	color: rgb(175, 176, 177);
	text-decoration: none;
}

	a.navbar-brand:hover {
		white-space: normal;
		word-break: break-all;
		color: rgb(175, 176, 177);
		text-decoration: none;
		transition: color .35s ease-in-out;
		color: rgb(255, 255, 255, 0.8) !important;
	}

.text-muted-light {
	color: #CCBCD9 !important;
}

.new-label {
	border-radius: 6px;
	border-style: none;
	background-color: rgb(50, 50, 55);
	color: white;
	font-size: 70%;
	padding: 2px 6px;
}

/*--- BUTTON ---*/

.btn-primary {
	background-color: #6800B7;
	border-color: transparent;
	color: rgb(216, 216, 217);
	transition-duration: .15s;
	transition-timing-function: cubic-bezier(.65, .1, .43, .89);
}

	.btn-primary:hover {
		background-color: #6800B7;
		border-color: transparent;
		transition: color .35s ease-in-out;
		color: white !important;
		text-decoration: none;
	}

	.btn-primary:focus,
	.btn-primary.focus {
		background-color: #6800B7;
		border-color: #6800B7;
		box-shadow: none;
	}

	.btn-primary.disabled,
	.btn-primary:disabled {
		background-color: #473a52;
		border-color: #473a52;
		/*	color: #fff;*/
		opacity: 0.5;
	}

	.btn-primary:not(:disabled):not(.disabled):active,
	.btn-primary:not(:disabled):not(.disabled).active,
	.show > .btn-primary.dropdown-toggle {
		background-color: transparent;
		border-color: transparent;
		/*	color: #fff;*/
	}

		.btn-primary:not(:disabled):not(.disabled):active:focus,
		.btn-primary:not(:disabled):not(.disabled).active:focus,
		.show > .btn-primary.dropdown-toggle:focus {
			box-shadow: none;
			background-color: transparent;
			border-color: transparent;
		}

.header-btn {
	background-color: transparent;
    text-decoration: none;
}

.header-btn:hover {
	background-color: transparent;
}

/*--- LIBRARY ---*/

.version-callout {
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	word-break: break-all;
	word-wrap: break-word;
	color: #bfbfbf;
	background-color: rgb(27, 27, 30);
	border-radius: 6px;
	border-style: solid;
	border-width: thin;
	border-color: rgba(61, 65, 68, 0.7);
	unicode-bidi: normal;
}

.btn:hover{
  color: lightgray;
}

/*--- EXTERNAL LINK ICON ---*/

.img-text-icon {
	max-width: 100%;
	height: 1rem;
}

/*--- TOOLTIPS ---*/

.tooltip-icon {
}

.tooltip-text {
	visibility: hidden;
	position: absolute;
	z-index: 1;
	max-width: 400px;
	font-size: 14px;
	background-color: #271a3b;
	border-radius: 5px;
	padding: 10px;
}

.tooltip-text p:last-child {
	margin-bottom: auto;
}

.tooltip-icon:hover .tooltip-text {
	visibility: visible;
}
/*--- DOCS ---*/
.docs-pane {
	margin: 2em auto;
	max-width: 1080px;
	overflow: hidden;
	width: 100%;
}

.docs-snippet {
	margin: auto;
	max-width: 1080px;
	overflow: hidden;
	width: 100%;
}

pre {
	padding: 9.5px;
	font-size: 13px;
	word-break: break-all;
	word-wrap: break-word;
	background-color: rgb(27, 27, 30);
	color: #bfbfbf;
	border-radius: 6px;
	border-style: solid;
	border-width: thin;
	border-color: rgba(61, 65, 68, 0.7);
	unicode-bidi: normal;
}

.editor-colors {
}

.editor-colors > div {
	background-color: transparent !important;

}

code {
	color: #de6b18;
	background-color: #272822;
	border-radius: 4px;
	padding: 2px 4px;
	font-size: 90%;
	unicode-bidi: normal;
}

blockquote {
	padding: 9.5px;
	margin: 0 20px 15px;
	font-size: 13px;
	word-break: break-all;
	word-wrap: break-word;
	background-color: rgba(127, 127, 127, 0.2);
	border-radius: 6px;
	border: none;
	unicode-bidi: normal;
}

	blockquote > p {
		margin-bottom: 0;
	}

.markdown-anchor {
	fill: rgb(175, 176, 177);
}

