/* CODE HIGHLIGHT */
pre {
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #e0e0e0;
	border-radius: 4px;
	border: none;
	box-shadow: 2px 2px 5px 0 rgba(61, 65, 68, 0.3) inset;
	unicode-bidi: normal;
}

code {
	color: #555555;
	background-color: #e0e0e0;
	border-radius: 4px;
	padding: 2px 4px;
	font-size: 90%;
	unicode-bidi: normal;
}
