@page "/"

<PageTitle>json-everything</PageTitle>

<div class="text-center">
    <h1 class="display-4 mt-5 mb-4">
        <span class="font-monospace text-muted">json-everything</span>
    </h1>
    <p class="lead mb-5">Extended JSON support in .Net built on top of the System.Text.Json namespace</p>
</div>