@page "/"

<div class="banner-container">
	<div class="announcement-border text-center px-3 py-1 div-hcenter">
		<div>
			<strong>Announcement!</strong>
			All documentation for this project is moving to
			<a href="https://docs.json-everything.net">https://docs.json-everything.net</a>.
			There's a link in the upper right corner.
			It will remain on the main site for a short time longer.
			However, moving forward, the main site will be primarily the playgrounds only.
		</div>
	</div>
</div>

<PageTitle>json-everything</PageTitle>

<div class="text-center">
	<h1 class="display-4 mt-5 mb-4">
		<span class="font-monospace text-muted">json-everything</span>
	</h1>
	<p class="lead mb-5">Extended JSON support in .Net built on top of the System.Text.Json namespace</p>
</div>

