@page "/"
@using LiveChartsCore.SkiaSharpView.Blazor
@using JsonEverythingNet.ViewModels
@using System.Text.Json

@inject HttpClient Client

<PageTitle>json-everything</PageTitle>

<div class="text-center">
	<h1 class="display-4 mt-5 mb-4">
		<span class="font-monospace text-muted">json-everything</span>
	</h1>
	<p class="lead mb-5">Extended JSON support in .Net built on top of the System.Text.Json namespace</p>
	<Banner Content="All libraries now support .Net 8 and Native AOT!!"></Banner>
</div>

<div class="text-center align-bottom">
	<CartesianChart Series="ViewModel.Series"></CartesianChart>
</div>

@code {

	private static readonly JsonSerializerOptions _options = new()
	{
		PropertyNameCaseInsensitive = false
	};

	public FeaturedSponsorData ViewModel { get; set; } = new([]);

	protected override async Task OnInitializedAsync()
	{
		var content = await Client.GetStringAsync("data/sponsor-data.json");
		var sponsorData = JsonSerializer.Deserialize<List<SponsorData>>(content, _options)!;

		ViewModel = new FeaturedSponsorData(sponsorData);

		await base.OnInitializedAsync();
	}

}