@page "/json-patch"
@using BlazorMonaco
@using System.Text.Json
@using Json.Patch
@using JsonEverythingNet.Services
@using EditorOptions = JsonEverythingNet.Services.EditorOptions
@using System.Text.Encodings.Web
@using System.Text.Json.Nodes

@inject CookieManager CookieManager;

<PageTitle>JSON Patch - json-everything.net</PageTitle>


<div class="row mx-3 fill-remaining">
	<div class="mh-100 scroll">
		<Banner Title="@Banner.AnnouncementTitle" Content="@Banner.DocsMessage" />
		<div class="navbar me-2">
			<div class="align-items-center hstack mx-2">
				<h1 class="display-4">JSON Patch</h1>
				<div class="align-items-center mx-3">
					<div>
						Describe and process alterations to JSON documents
						<br/>
						Learn more about
						<a href="http://jsonpatch.com/" target="_blank">JSON Patch <ExternalLinkIcon/></a>
					</div>
				</div>
			</div>
			<div class="align-items-center mt-1">
				@foreach (var library in _libraries)
				{
					<NugetLibrary Library="library"/>
				}
			</div>
		</div>

		<div class="vstack gap-3 mt-4 me-3">
			<div>
				<div class="row">
					<div class="col-5">
						<label class="w-100">
							Patch / Source data
							<div class="editor-input">
								<MonacoEditor @ref="_patchEditor" Id="editor-patch" ConstructionOptions="BasicOptions"
								              CssClass="h-100"/>
							</div>
						</label>
					</div>
					<div class="col mx-2 align-items-center row">
						<div class="vstack gap-3 align-self-center">
							<button class="btn btn-primary" @onclick="Apply">Apply</button>
							<hr/>
							<button class="btn btn-primary" @onclick="Generate">Generate</button>
						</div>
					</div>
					<div class="col-5">
						<label class="w-100">
							Data / Target data
							<div class="editor-input">
								<MonacoEditor @ref="_instanceEditor" Id="editor-instance" ConstructionOptions="BasicOptions"
								              CssClass="h-100"/>
							</div>
						</label>
					</div>
				</div>
			</div>
    
			<label>
				Result
				<div class="editor-input">
					<MonacoEditor @ref="_outputEditor" Id="editor-otuput" ConstructionOptions="ReadOnlyOptions"
					              CssClass="h-100"/>
				</div>
			</label>
		</div>
		<div class="ms-4">
			<Docs Page="playground/patch"/>
		</div>
	</div>
</div>

@code {
#pragma warning disable CS8618
	private MonacoEditor _patchEditor;
	private MonacoEditor _instanceEditor;
	private MonacoEditor _outputEditor;

	private readonly List<LibraryVersion> _libraries = new()
	{
		LibraryVersion.GetFor<JsonPatch>(),
	};
#pragma warning restore CS8618

	private static StandaloneEditorConstructionOptions BasicOptions(MonacoEditor _) => EditorOptions.Basic();
	private static StandaloneEditorConstructionOptions ReadOnlyOptions(MonacoEditor _) => EditorOptions.Readonly();

	private async Task Apply()
	{
		await SavePatch();
		await SaveInstance();

		JsonPatch patch;
		try
		{
			patch = JsonSerializer.Deserialize<JsonPatch>(await _patchEditor.GetValue())!;
		}
		catch (Exception e)
		{
			await _outputEditor.SetValue($"Patch is invalid\n\n{e.Message}");
			return;
		}
		JsonNode? instance;
		try
		{
			instance = JsonNode.Parse(await _instanceEditor.GetValue());
		}
		catch (Exception e)
		{
			await _outputEditor.SetValue($"Instance is invalid\n\n{e.Message}");
			return;
		}

		var results = patch.Apply(instance);

		var resultText = results.IsSuccess
			? JsonSerializer.Serialize(results.Result, new JsonSerializerOptions
			{
				WriteIndented = true,
				Encoder = JavaScriptEncoder.UnsafeRelaxedJsonEscaping
			})
			: results.Error;

		await _outputEditor.SetValue(resultText);
	}

	private async Task Generate()
	{
		await SavePatch();
		await SaveInstance();

		JsonElement source;
		try
		{
			source = JsonDocument.Parse(await _patchEditor.GetValue()).RootElement;
		}
		catch (Exception e)
		{
			await _outputEditor.SetValue($"Source data is invalid\n\n{e.Message}");
			return;
		}
		JsonElement target;
		try
		{
			target = JsonDocument.Parse(await _instanceEditor.GetValue()).RootElement;
		}
		catch (Exception e)
		{
			await _outputEditor.SetValue($"Target data is invalid\n\n{e.Message}");
			return;
		}

		var patch = source.CreatePatch(target);

		var instance = JsonSerializer.Serialize(patch, new JsonSerializerOptions
		{
			WriteIndented = true,
			Encoder = JavaScriptEncoder.UnsafeRelaxedJsonEscaping
		});
		await _outputEditor.SetValue(instance);
	}

	private async Task SavePatch()
	{
		await CookieManager.SaveEditorValue(_patchEditor, "patch");
	}

	private async Task LoadSavedPatch()
	{
		await CookieManager.LoadEditorValue(_patchEditor, "patch");
	}

	private async Task SaveInstance()
	{
		await CookieManager.SaveEditorValue(_instanceEditor, "patch-instance");
	}

	private async Task LoadSavedInstance()
	{
		await CookieManager.LoadEditorValue(_instanceEditor, "patch-instance");
	}

	protected override async Task OnInitializedAsync()
	{
		await CookieManager.Initialize();
	    await _outputEditor.SetValue(string.Empty);

		await LoadSavedPatch();
		await LoadSavedInstance();
	}
}