@page "/json-pointer"
@using System.Text.Json
@using Json.Pointer
@using JsonEverythingNet.Services
@using EditorOptions = JsonEverythingNet.Services.EditorOptions
@using System.Text.Encodings.Web
@using BlazorMonaco.Editor
@using Microsoft.AspNetCore.Components

@inject DataManager DataManager;

<PageTitle>JSON Pointer - json-everything.net</PageTitle>

<div id="layout" class="flex-grow-1 position-relative">
	<div class="dimgray fill-remaining">
		<div class="inner d-flex h-100">
			<div class="green w-25 d-flex">
				<div class="tan grid-panel flex-grow-1 scroll">
					<div class="align-items-center hstack mx-2">
						<img src="img/json-pointer.png" height="70" width="70" class="me-3" />
						<h1 class="display-4">JSON Pointer</h1>
					</div>
					<div class="align-items-center mx-3">
						<div>
							Identify specific locations within JSON data. Learn more about
							<a href="https://datatracker.ietf.org/doc/html/rfc6901" target="_blank">JSON Pointer <ExternalLinkIcon/></a>
						</div>
					</div>
					<div class="align-items-center mt-1">
						@foreach (var library in _libraries)
						{
						<NugetLibrary Library="@library"/>
						}
					</div>
					<hr />
					<button class="btn btn-primary w-100" @onclick="Evaluate">Evaluate</button>
					<hr/>
					<MarkdownSpan Content="@HelpContent.PointerEvaluate"></MarkdownSpan>
				</div>
			</div>
			<div class="gray d-flex flex-grow-1 flex-column">
				<div class="maroon d-flex flex-grow-1 flex-column">
					<div class="yellow mx-2 d-flex flex-grow-1">
						<EditForm Model="_input" class="col-12">
							<label class="mb-2 w-100">
								Pointer
								<InputText @bind-Value="_input.Pointer" DisplayName="Default base URI" class="form-control"
								           @oninput="SavePath"/>
							</label>
						</EditForm>
					</div>
					<div class="palegreen d-flex h-100">
						<div class="pink w-50 d-flex flex-grow-1">
							<div class="grid-panel flex-grow-1 position-relative">
								<span class="editor-lang-json">JSON</span>
								<StandaloneCodeEditor @ref="_instanceEditor" Id="editor-instance" ConstructionOptions="BasicOptions"
								                      CssClass="h-100"/>
							</div>
						</div>
						<div class="cyan w-50 d-flex flex-grow-1">
							<div class="grid-panel flex-grow-1">
								<StandaloneCodeEditor @ref="_outputEditor" Id="editor-output" ConstructionOptions="ReadOnlyOptions"
								                      CssClass="h-100"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@code {
	#pragma warning disable CS8618
	private StandaloneCodeEditor _instanceEditor;
	private StandaloneCodeEditor _outputEditor;

	private readonly InputModel _input = new();

	private readonly List<LibraryVersion> _libraries = new()
	{
		LibraryVersion.GetFor<JsonPointer>(),
	};
#pragma warning restore CS8618

	private class InputModel
	{
		public string? Pointer { get; set; }
	}

	private static StandaloneEditorConstructionOptions BasicOptions(StandaloneCodeEditor _) => EditorOptions.Basic();
	private static StandaloneEditorConstructionOptions ReadOnlyOptions(StandaloneCodeEditor _) => EditorOptions.Readonly();

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await LoadSavedPath();
			await LoadSavedInstance();
			await _outputEditor.SetValue(string.Empty);
		}

		await base.OnAfterRenderAsync(firstRender);
	}

	private async Task Evaluate()
	{
		await SaveInstance();

		JsonPointer pointer;
		try
		{
			pointer = JsonPointer.Parse(_input.Pointer!);
		}
		catch (Exception e)
		{
			await _outputEditor.SetValue($"Pointer is invalid\n\n{e.Message}");
			return;
		}
		JsonElement instance;
		try
		{
			instance = JsonDocument.Parse(await _instanceEditor.GetValue()).RootElement;
		}
		catch (Exception e)
		{
			await _outputEditor.SetValue($"Data is invalid\n\n{e.Message}");
			return;
		}

		var results = pointer.Evaluate(instance);

		var resultText = results.HasValue
			? JsonSerializer.Serialize(results, new JsonSerializerOptions
			{
				WriteIndented = true,
				Encoder = JavaScriptEncoder.UnsafeRelaxedJsonEscaping
			})
			: "No value found at that location";

		await _outputEditor.SetValue(resultText);
	}

	private async Task SavePath(ChangeEventArgs args)
	{
		var pointerText = args.Value as string;

		await DataManager.Set("pointer", pointerText ?? string.Empty);
	}

	private async Task LoadSavedPath()
	{
		var pointerText = await DataManager.Get("pointer") ?? string.Empty;

		_input.Pointer = pointerText;
	}

	private async Task SaveInstance()
	{
		await DataManager.SaveEditorValue(_instanceEditor, "pointer-instance");
	}

	private async Task LoadSavedInstance()
	{
		await DataManager.LoadEditorValue(_instanceEditor, "pointer-instance");
	}
}