# https://github.com/marketplace/actions/deploy-to-heroku
name: Publish json-everything.net
on:
  push:
    branches:
      - master # Default release branch
    paths:
      - Json.More/**
      - JsonLogic/**
      - JsonPatch/**
      - JsonPath/**
      - JsonPointer/**
      - JsonSchema/**
      - JsonSchema.Data/**
      - JsonSchema.UniqueKeys/**
      - JsonSchema.Generation/**
      - JsonSchema.DataGeneration/**
      - json-everything.net/**
  workflow_dispatch:

jobs:
  publish:
    name: build, pack & publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: restore submodules
        run: git submodule update --init
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x
      - name: Install dependencies
        run: dotnet restore
      - name: Change base-tag in index.html from / to BlazorGitHubPagesDemo
        run: sed -i 's/<base href="\/" \/>/<base href="\/json-everything\/" \/>/g' json-everything.net/wwwroot/index.html
      - name: Build
        run: dotnet publish json-everything.net/json-everything.net.csproj -c Release --no-restore -o bin
      - name: Add .nojekyll file
        run: touch bin/wwwroot/.nojekyll
      - name: Copy index.html files
        run: |
          mkdir bin/wwwroot/json-schema/ && cp bin/wwwroot/index.html bin/wwwroot/json-schema/
          mkdir bin/wwwroot/json-path/ && cp bin/wwwroot/index.html bin/wwwroot/json-path/
          mkdir bin/wwwroot/json-patch/ && cp bin/wwwroot/index.html bin/wwwroot/json-patch/
          mkdir bin/wwwroot/json-pointer/ && cp bin/wwwroot/index.html bin/wwwroot/json-pointer/
          mkdir bin/wwwroot/json-logic/ && cp bin/wwwroot/index.html bin/wwwroot/json-logic/
      - name: Publish
        uses: JamesIves/github-pages-deploy-action@v4.2.5
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: bin/wwwroot
