# https://github.com/marketplace/actions/publish-nuget
name: Publish JsonSchema.Net
on:
  push:
    branches:
      - master # Default release branch
    paths:
      - .github/workflows/publish-schema.yml
      - JsonSchema/**
  workflow_dispatch:

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - id: get-localized-nuspecs
        run: |
          NUSPEC_FILES=$(echo -n '[' ; ls JsonSchema/nuspec/JsonSchema.Net.*.nuspec --format=commas|sed -e 's/^/\"/'|sed -e 's/,$/\",/'|sed -e 's/\([^,]\)$/\1\"\]/'|sed -e 's/, /\",\"/g')
          echo $NUSPEC_FILES
          DELIMITER="$(openssl rand -hex 8)"
          echo "NUSPEC_FILES<<$DELIMITER" >> $GITHUB_OUTPUT
          echo "$NUSPEC_FILES" >> $GITHUB_OUTPUT
          echo "$DELIMITER" >> $GITHUB_OUTPUT
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 8.0.x
      # Publish
      - name: Install dependencies
        run: dotnet restore
      - name: Build
        # Localization build automatically moves localization DLLs into nuspec/ folder
        run: dotnet build JsonSchema/JsonSchema.csproj --configuration Release --no-restore
      - name: Get version
        id: get-version
        run: |
          version="$(grep '<Version' JsonSchema/JsonSchema.csproj | cut -f2 -d'>'|cut -f1 -d'<')"
          echo $version
          echo "version=$version" >> $GITHUB_OUTPUT
      - uses: actions/upload-artifact@v3
        with:
          name: build-output
          path: |
            JsonSchema/bin/Release/**/*
            JsonSchema/nuspec
    outputs:
      matrix: ${{ steps.get-localized-nuspecs.outputs.NUSPEC_FILES }}
      version: ${{ steps.get-version.outputs.version }}
  publish-core:
    needs: build
    name: pack & publish core
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Download Artifacts
        uses: actions/download-artifact@v3
        with:
          name: build-output
          path: artifacts
      - uses: nuget/setup-nuget@v1
        with:
          nuget-api-key: ${{ secrets.NUGET_API_KEY }}
          nuget-version: '6.x'
      - name: pack
        run: |
          NUSPEC_NAME=JsonSchema.Net.nuspec
          VERSION=${{ needs.build.outputs.version }}
          echo $VERSION
          nuget pack artifacts/netstandard2.0/nuspec/${NUSPEC_NAME} -OutputDirectory nupkg/ -Symbols -SymbolPackageFormat snupkg -Version ${VERSION}
      - name: push
        run: |
          NUSPEC_NAME=JsonSchema.Net.nuspec
          VERSION=${{ needs.build.outputs.version }}
          PKG_NAME=JsonSchema.Net.${VERSION}.nupkg
          # echo ${PKG_NAME}
          ls nupkg/
          nuget push nupkg/${PKG_NAME} -Source https://api.nuget.org/v3/index.json -SkipDuplicate -Verbosity detailed
      - name: create tag
        uses: rickstaa/action-create-tag@v1
        with:
          tag: schema-v${{ needs.build.outputs.version }}
          tag_exists_error: false
      - name: archive packages
        uses: actions/upload-artifact@v3
        with:
          name: archive-packages-core
          path: nupkg/*.nupkg
  publish-localizations:
    needs: build
    name: pack & publish localizations
    runs-on: ubuntu-latest
    strategy:
      matrix:
        nuspec: ${{ fromJson(needs.build.outputs.matrix) }}
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v3
        with:
          name: build-output
          path: artifacts/langpacks
      - uses: nuget/setup-nuget@v1
        with:
          nuget-api-key: ${{ secrets.NUGET_API_KEY }}
          nuget-version: '6.x'
      - name: pack
        run: |
          # matrix var includes "JsonSchema/nuspec/"
          ls -lR artifacts/JsonSchema
          NUSPEC_NAME=${{ matrix.nuspec }}
          nuget pack artifacts/${NUSPEC_NAME} -OutputDirectory nupkg/
      - name: push
        run: |
          PKG_NAME=*.nupkg
          echo ${PKG_NAME}
          nuget push nupkg/*.nupkg -Source https://api.nuget.org/v3/index.json -SkipDuplicate
      - name: archive packages
        uses: actions/upload-artifact@v3
        with:
          name: archive-packages-localizations
          path: nupkg/*.nupkg
